/* hero del BlogDetails (reutilizo algunas clases de Blog.jsx para que quede reutilizable y no repetir estilos) */

.blog-hero-description-container {
    padding: 100px;
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
}

.blogdetails-hero-container h1 {
    font-size: 2rem;
}

/* link de volver atras */
.blog-back-link {
  background-color: #fff;
  padding: 1rem 2rem;
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #171D35;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #CDF26A;
}

.back-icon {
  color: #CDF26A;
}


/* contenido detallado del post */
.blog-details-content {
    line-height: 1.8;
    font-size: 1.1rem;
    background-color: #fff;
}

.blog-details-text p {
    margin-bottom: 1.5rem;
}

.blog-details-text {
    width: 75%;
    margin: 0px auto;
    padding: 20px;
}

.blog-details-text ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.blog-details-text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details-text a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-weight: bold;
}

.icon-number {
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.blog-details-text span {
    display: flex;
    align-items: center;
}

.blog-details-text h4 {
    margin-top: 20px;
}


/* responsive */
@media (max-width: 999px) {
    .blog-details-content {
        padding: 0 1rem;
    }

    .blog-hero-title {
        font-size: 2.2rem;
    }

    .blog-hero-description-container {
        font-size: 1rem;
        padding: 60px;
    }

    .blog-hero-title::after {
        top: 80px;
    }

    .blogdetails-hero-container h1 {
        font-size: 1.4rem;
    }

        .blog-details-text h4{
        text-align: center;
    }
}

@media (max-width: 500px) {
    .blogdetails-hero-container h1 {
        font-size: 1rem;
    }

    .blog-hero-description-container {
        padding: 10px;
        font-size: 0.8rem;
    }

    .blog-details-text {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .blog-details-text li{
        font-size: 1rem;
    }

}

@media (max-width: 200px) {
    .blogdetails-hero-container h1 {
        font-size: 0.8rem;
    }

    .blog-hero-title::after {
        top: 70px;
    }
}