/* ===========================
   HERO SECTION
=========================== */
.services-hero-section {
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
}

.services-fullpage-hero-title {
  color: #fff;
  font-size: 1.2rem;
}

.services-hero-title {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.services-hero-title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  background: #cdf26a;
  top: 56px;
  left: 0;
  right: 0;
  margin: 50px auto 0 auto;
}

/* ===========================
   SERVICE DETAILS
=========================== */
.service-details {
  background: #fff;
  padding: 50px 20px;
  text-align: center;
}

.service-details h2 {
  text-decoration: underline;
  margin: 40px;
}

.service-details ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.1rem;
  color: #000;
  line-height: 1.6;
}

.service-details li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #000;
}


.details-list li svg {
  margin: 0px 5px;
}

/* ===========================
   SERVICE CARDS
=========================== */
.service-card {
  background: #faf1e5;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
  width: 100%;
  margin: 0px auto;
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
}

.service-card:nth-child(even) {
  transform: translateX(50px);
}

.service-card.show:nth-child(even) {
  transform: translateX(0);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.service-card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #8c63c8;
}

.service-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.btn-meetus-services {
  font-size: 1rem;
  margin-top: 40px;
  height: 40px;
}

/* ===========================
   MODALIDAD DE TRABAJO
=========================== */
.services-modalidad-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  padding: 50px 20px;
  text-align: center;
  height: 600px;
}

.services-modalidad-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.services-modalidad-section h2::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: #cdf26a;
  margin: 15px auto 0 auto;
}

/* lista con iconos */
.modalidad-list {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.modalidad-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #fff;
}

.modalidad-list li svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.modalidad-list strong {
  color: #fff;
  text-decoration: underline;
}

.modalidad-list .modalidad-text {
  font-size: 1rem;
  color: #fff;
}

/* ===========================
   POR QUE ELEGIRNOS
=========================== */
.services-por-que-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.services-por-que-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #171d35;
  margin-bottom: 30px;
  position: relative;
}

.services-por-que-section h2::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: #cdf26a;
  margin: 15px auto 0 auto;
}

/* Lista con iconos */
.por-que-list {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.1rem;
  color: #000;
  line-height: 1.6;
}

.por-que-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 999px) {
  .services-grid {
    max-width: 700px;
    margin: 0 100px;
  }

  .services-hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .services-grid {
    margin: 0 auto;
    width: 95%;
  }

  .services-hero-title {
    font-size: 1.6rem;
  }

  .service-card {
    will-change: transform, opacity;
    contain: layout;
    word-break: break-all;
  }

  .service-card:nth-child(even) {
    transform: translateY(50px);
  }

  .services-modalidad-section {
    height: auto;
  }

  .service-card p {
    font-size: 0.8rem;
  }

  .btn-meetus-services {
    font-size: 0.8rem;
  }

  .service-card h3 {
    font-size: 1rem;
  }

}

@media (max-width: 200px) {
  .services-modalidad-section {
    padding: 5px 7px;
  }

  .services-modalidad-section h2 {
    font-size: 1.2rem;
  }

  .modalidad-list .modalidad-text {
    font-size: 0.8rem;
  }

  .modalidad-list li {
    font-size: 0.8rem;
  }

  .services-por-que-section {
    padding: 10px 20px;
  }

  .services-por-que-section h2 {
    font-size: 1.2rem;
  }

  .por-que-list {
    font-size: 0.8rem;
  }
}