.why-choose-us {
  width: 100%;
  padding: 80px 20px;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  color: #fff;
  text-align: center;
}

.why-choose-us h2{
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 35px;
}

.why-choose-us h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3%;
    height: 2px;
    background: #cdf26a;
    top: 56px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s cubic-bezier(0.25,1,0.5,1), opacity 0.8s ease-out;
}

.item-row.in-view {
  opacity: 1;
  transform: translateY(0);
}

.item-row.img-left .item-image {
  order: 0;
  margin-right: 40px;
}

.item-row.img-left .item-text {
  order: 1;
}

.item-row.img-right .item-image {
  order: 1;
  margin-left: 40px;
}

.item-row.img-right .item-text {
  order: 0;
}

.item-image img {
  height: 280px; 
  width: 420px; 
  object-fit: cover;
}

.item-text {
  max-width: 500px;
  text-align: left;
}

.item-text h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.item-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* MOBILE responsive*/
@media (max-width: 768px) {
  .item-row {
    flex-direction: column;
    text-align: center;
  }

  .item-row.img-left .item-image,
  .item-row.img-right .item-image {
    order: 0;
    margin: 0 0 20px 0;
  }

  .item-row .item-text {
    order: 1;
    max-width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }

  .item-image img {
    height: 250px;
  }
}
