.footer {
  width: 100%;
  padding: 50px 20px 30px 20px;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* este seria el lado izquierdo */
.footer-left {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.footer-logo {
  width: 150px;
  height: auto;
  padding-top: 10px;
}

.footer-email {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease; 
}

.footer-email:hover {
  color: #CDF26A;
}

.footer-socials {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
  justify-content: center;
}

.footer-socials a {
  color: #fff;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #CDF26A;
}

/* este seria el lado derecho */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #CDF26A;
}

/* el hr */
footer hr {
  width: 40%;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}

/* footer  */
.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.4s ease; 
}

.footer-bottom a:hover {
  color: #CDF26A;
}

/* MOBILE: responsive  */
@media (max-width: 999px) {
  .footer-content {
    flex-direction: column;
    gap: 30px;
  }

  .footer-left {
    flex-direction: column;
  }

  .footer-right {
    text-align: center;
  }
}

@media (max-width: 200px) {
  .footer {
    font-size: 0.8rem !important;
    padding: 0;
  }

  .footer-email {
    font-size: 0.8rem;
  }

  .footer-logo {
    width: 100%;
  }

  .logo-wrapper {
    max-width: none !important;
    min-width: 0 !important;
  }

  .waves-wrapper {
    margin-top: 0px !important;
  }

  .quote-mark-right {
    top: 101px;
  }
}