.hero-section {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 20;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.hero-content.animate {
  opacity: 1;
  transform: translateY(0);
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: nowrap;
  margin-top: 100px;
}

.logo-wrapper {
  position: relative;
  flex: 1 1 40%;
  max-width: 500px;
  min-width: 250px;
  margin-top: 50px;
  z-index: 15;
}

.hero-logo {
  width: 100%;
  display: block;
  transform-style: preserve-3d;
  position: relative;
  z-index: 20;
}

.logo-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(1, 0.5);
  width: 60%;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  filter: blur(10px);
  z-index: 10;
}


.hero-text {
  flex: 1 1 50%;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right, #CDF26A 0%, #CDF26A 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left center;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colorize 10s ease-in-out infinite alternate;
}

@keyframes colorize {
  0% {
    background-size: 0% 100%;
    background-position: left center;
  }

  40% {
    background-size: 100% 100%;
    background-position: left center;
    color: transparent;
  }

  50% {
    background-size: 100% 100%;
    background-position: left center;
    color: transparent;
  }

  60% {
    background-size: 100% 100%;
    background-position: right center;
    color: transparent;
  }

  100% {
    background-size: 0% 100%;
    background-position: right center;
  }
}



.hero-text h1.animate {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
  margin-top: 100px;
}


.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #faf1e5ad;
}

.css-button-gradient--6 {
  min-width: 130px;
  height: 40px;
  max-width: 200px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 75%);
  text-align: center;
  text-decoration: none;
}

.css-button-gradient--6:hover {
  background-position: right center;
}

.css-button-gradient--6:active {
  top: 2px;
}

.button-view-more-hero-section {
  font-size: 1.2rem;
  margin-top: 200px;
  letter-spacing: 1px;
  height: 39px;
}

/* QUOTE CONTAINER */

.quote-container {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.quote-mark-right {
  position: absolute;
  top: 83px;
  right: 0px;
  font-size: 10rem;
  color: #CDF26A;
  line-height: 0.8;
  font-family: serif;
  font-weight: bold;
  z-index: 1;
  pointer-events: none;
}

.quote-text {
  position: relative;
  font-size: 2.2rem;
  color: #fff;
  line-height: 1.4;
  z-index: 2;
}

.quote-text strong {
  font-weight: bold;
}

.quote-target {
  position: relative;
  display: inline-block;
}

.quote-target::before {
  content: "“";
  position: absolute;
  left: -42px;
  top: -80px;
  font-size: 11rem;
  color: #B783EF;
  font-family: serif;
  font-weight: bold;
  z-index: -1;
}



.waves-wrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: 50px;
  position: relative;
  z-index: 5;
}

/* responsive */
@media (max-width: 999px) {
  .hero-text p {
    font-size: 1rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text {
    max-width: 80%;
    align-items: center;
  }

  .hero-header {
    flex-direction: column;
  }

  .button-view-more-hero-section {
    margin-top: 100px;
  }

  .quote-container {
    max-width: 90%;
  }


  .quote-text {
    font-size: 2rem;
  }

  .quote-mark-left {
    font-size: 6rem;
  }

  .quote-mark-right {
    font-size: 9rem;
  }

  .quote-mark-left {
    top: 15px;
    left: 40px;
  }
}

@media (max-width: 500px) {
  .hero-text p {
    font-size: 0.9rem;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }

  .quote-text {
    font-size: 2rem;
  }

  .quote-mark-left {
    font-size: 60px;
  }

  .quote-mark-right {
    font-size: 4rem;
  }

  .quote-target::before {
    font-size: 4rem;
    left: -17px;
    top: -26px;
  }

  .quote-container {
    max-width: 80%;
  }

  .quote-mark-right {
    font-size: 4rem;
    top: 180px;
    right: 33px;
  }

  .hero-logo {
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  .logo-shadow {
    width: 30%;
  }
}

@media (max-width: 310px) {
  .quote-container {
    display: none;
  }
}
    