/* .ourValues-container {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  overflow: hidden;
  perspective: 1px;
  height: 1000px;
} */
.ourValues-container {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #171d35 0%, #8c63c8 60%, #b783ef 100%);
  overflow: visible;
  perspective: 1px;
}

.values-placeholder {
  position: relative;
  z-index: 0;
}

.ourValues-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  display: inline-block;
  color: #fff;
}

.ourValues-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #cdf26a;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.values-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

/* efecto parallax */
.parallax-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.2s ease-out;
  pointer-events: none;
  z-index: 1;
}


.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

/* card base */

.value-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  padding: 22px;
  color: #fff;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
}

.value-card:hover {
  transform: translateY(-12px) scale(1.05) rotateZ(-1deg);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

/* icono con efecto hover */
.value-card:hover .icon-wrapper {
  animation: hoverPulse 0.6s ease-in-out 1;
}

/* titulo con efecto hovero */
.value-card:hover h3 {
  transform: translateY(-13px) rotateX(13deg);
  transition: transform 0.3s ease;
}

/* parrafo con efecto hover */
.value-card:hover p {
  transform: translateY(-4px);
  opacity: 0.95;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* icono y titulos */
.icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icon-title h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #FAF1E5;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
}

/* .icon-wrapper {
  animation: pulse 2.5s infinite ease-in-out;
} */

@keyframes hoverPulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3) rotateZ(-5deg);
  }

  60% {
    transform: scale(1.15) rotateZ(3deg);
  }

  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

/* efecto pulse de iconos */
.icon-wrapper {
  animation: pulse 2.5s infinite ease-in-out;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}

/* descripcion de cards */
.value-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  text-align: left;
}

/* CTA card */
.cta-card {
  background: #cdf26a;
  color: #000;
  text-align: center;
}

.cta-card h3 {
  color: #000;
  font-weight: bold;
}

.cta-card p {
  color: #000;
  margin-bottom: 20px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}



/* responsive */

@media (max-width:999px) {
  .icon-title {
    flex-direction: column;
  }

  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .parallax-inner {
    position: static;
    transform: none !important;
    pointer-events: auto;
  }
}

@media (max-width:500px) {
  .values-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width:200px) {
  .icon-title h3 {
    font-size: 0.8rem;
  }

  .ourValues-title {
    font-size: 1rem;
  }

  .value-card p {
    font-size: 0.7rem;
  }

  .value-card button {
    height: 27px;
    min-width: 60px;
    font-size: 0.5rem;
  }

  .cta-button{
    min-width: auto;
    height: 31px;
    font-size: 0.6rem;
  }
}